<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>API Information</title>
    </head>
    <body>
        <div class="jumbotron" style="background-color: white;">
            <h1 class="display-5">API Documentation</h1>
            <hr class="my-4">
            <p class="lead"><strong><u>All Quotes</u></strong></p>
            <p>To request all quotes, please make a GET request to: </p>
            <code class="language-markup">
                https://parks-and-rec-quotes.herokuapp.com/a/
            </code>
            <p>Your data will come back to you in the following format:</p>
            <code class="language-javascript">
                {"Code":200,"Quotes":{"Speaker":"Quote", "Speaker2":"Quote2"}}
            </code>
            <p class="lead"><strong><u>Random Quote</u></strong></p>
            <p>To request one random quote, please make a GET request to: </p>
            <code class="language-markup">
                https://parks-and-rec-quotes.herokuapp.com/r/
            </code>
            <p>Your data will come back to you in the following format:</p>
            <code class="language-javascript">
                {"Code":200, "Quote":"Quote Text", "Speaker":"Speaker Text"}
            </code>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>